* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.title {
  font-family: cursive;
  color: rgb(138, 60, 0);
}
.slogan {
  font-style: italic;
  font-family: cursive;
}
.qb {
  width: 80%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product img {
  width: 250px;
  height: 250px;
}
.product {
  text-align: center;
  margin: 15px;
}
